.display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 30rem;
    width: 45vw;
    border-radius: 5px;
}

.display img {
    height: 30rem;
    width: 45vw;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphSliderContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}