.display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 45vw;
    width: 45vw;
    border-radius: 5px;
}

@media (max-width: 750px) {
    .display {
        height: 80vw;
        width: 80vw;
    }
}

.display img {
    height: 100%;
    width: 100%;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphSliderContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}