@font-face {
    font-family: 'SourceCodePro-Black';
    src: local('SourceCodePro-Black'), url(../fonts/SourceCodePro-Black.ttf) format('truetype');
  }

.container {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

@media (max-width: 750px) {
    .textContainer {
        max-width: 75%;
    }
}

.textblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textblock h1 {
    font-family: 'SourceCodePro-Black';
}

.gifContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30%;
}

@media (max-width: 750px) {
    .gifContainer {
        max-width: 75%;
    }
}

#instgif {
    max-width: 65%;
}

#intro {
    color: #5ca789;
}

#inst {
    color: #2d7b5c;
}

#dev {
    color: #6a9a80;
}