@font-face {
    font-family: 'SourceCodePro-Black';
    src: local('SourceCodePro-Black'), url(../fonts/SourceCodePro-Black.ttf) format('truetype');
  }

@font-face {
    font-family: 'NotoSerifAhom';
    src: local('NotoSerifAhom'), url(../fonts/NotoSerifAhom-Regular.ttf) format('truetype');
}

html, body {
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    background-color: #CFE0C9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
        height: 140vh;
        justify-content: space-evenly;
    }
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    align-items: center;
    height: 100%;
    width: 50%;
}

#qwgif {
    max-width: 65%;
}

@media (max-width: 750px) {
    #qwgif {
        max-width: 40%;
    }
}

.rightContainer .awsbtn {
    font-family: 'SourceCodePro-Black';
    --button-default-height: 60px;
    --button-default-font-size: 20px;
    --button-horizontal-padding: 25px;
    --button-raise-level: 5px;
    --button-default-border-radius: 30px;
    --button-secondary-color-light: #468e53;
    --button-secondary-color-dark: #468e53;
    --button-secondary-border: 2px solid #468e53;
}

@media (max-width: 750px) {
    .rightContainer .awsbtn {
        margin-top: 10%;
        margin-bottom: 10%;
        --button-default-font-size: 14px;
    }
}

.textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

@media (min-width: 750px) {
    .textcontainer {
        align-items: flex-start;
        margin-left: 5%;
        width: 55%;
    }
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10%;
}

@media (max-width: 750px) {
    .title {
        margin-top: 0;
    }
}

.title h1 {
    text-align: center;
    font-size: xxx-large;
    font-family: 'SourceCodePro-Black';
}

.title h2, h3 {
    font-family: 'NotoSerifAhom';
    font-size: medium;
}

@media (max-width: 750px) {
    .title h1 {
        font-size: x-large;
    }
    .title h2, h3 {
        font-size: small;
    }
}

.title h2 {
    margin-bottom: 0px;
}

.title h3 {
    margin-top: 0px;
}

.resources {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45px;
    align-items: center;
    font-family: 'SourceCodePro-Black';
    font-size: small;
    margin-bottom: 20%;
}

@media (min-width: 750px) {
    .resources {
        width: 50%;
        margin-left: 10%;
        justify-content: flex-start;
        font-size: medium;
        align-items: flex-start;
        margin-bottom: 0%;
    }
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

@media (max-width: 750px) {
    .icons {
        flex-direction: column;
    }
}

/*.icons .scicon {
    font-family: 'SourceCodePro-Black';
    --button-default-height: 45px;
    --button-default-font-size: 14px;
    --button-raise-level: 3px;
    --button-default-border-radius: 10px;
}*/

.nameLink {
    text-decoration: none;
    color: white;
    overflow: hidden;
}
.nameLink:link {
    text-decoration: none;
}
.nameLink:visited {
    text-decoration: none;
}
.nameLink:hover {
    text-decoration: none;
}
.nameLink:active {
    text-decoration: none;
}

#uvic::before {
    position: absolute;
    content: attr(data-content);
    color: #cc5a5a;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

#uvic:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#addie::before {
    position: absolute;
    content: attr(data-content);
    color: #5ca789;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

#addie:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#samantha::before {
    position: absolute;
    content: attr(data-content);
    color: rgb(248, 159, 120);
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

#samantha:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#jose::before {
    position: absolute;
    content: attr(data-content);
    color: rgb(62, 131, 73);
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

#jose:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#austin::before {
    position: absolute;
    content: attr(data-content);
    color: #9d87cb;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

#austin:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}