.form Input, Form.Item {
    width: 20vw;
}

.form .ant-form-item-explain-error {
    width: 20vw;
}

.form .formItem {
    width: 30vw;
}

.submit-button {
     width: 100%;
     margin: 2rem 0rem;
 }
